.slick-dots {
   bottom: -40px;
  }
  
  .slick-dots li button:before {
    opacity: 0.75; 
    font-size: 10px; 
    color: green;
  }
  
  .slick-dots li.slick-active button:before { 
    opacity: 1; 
    color: lightgray;
  }

  .slick-prev:before, .slick-next:before {
    color: #00695C !important;
    font-size: 30px;
  }