.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding-top: 100px;*/
}

/*welcome section*/

.welcome-container {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 100px;
  padding-top: 100px;
  width: 100%;
}

.welcome-image-container {
  flex: 1;
  display: flex;
}

.welcome-image {
  width: 100%; /* Kuva vie koko boxin leveyden */
  height: auto; /* Säilyttää kuvasuhteen */
  object-fit: cover;
  border-radius: 4px;
}
 
.welcome-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 50px;
}

/*welcome section ends*/

 
/*jungle trek section starts*/

.whole-jungletrek-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

.jungletrek-container {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  /*padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 100px;
  padding-bottom: 100px;*/
  width: 100%;
  gap: 50px;
  border-bottom: solid 1px white;
  padding-bottom: 50px;
  /*gap: 50px;*/
}

.jungletrek-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  text-align: left;
}

.jungletrek-image {
  width: 100%; /* Kuva vie koko boxin leveyden */
  height: auto; /* Säilyttää kuvasuhteen */
  object-fit: cover;
  border-radius: 4px;
}

.jungletrek-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  /*overflow-y: hidden;*/
  /*height: 1000px;*/
  /*max-width: 1000px;*/
}

.junglecarousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  /*max-width: 3000px;*/
}

/*jungle trek section ends*/


/*rooms section starts*/

.room-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 50px;
}

.room-card-container {
  display: flex;
  width: 100%;
  gap: 5%;
  justify-content: center;
}

.room-carousel-container {
  width: 100%;
  display: none;
}

.room-image-container {
  flex: 1;
}

.text-image-container {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  /*padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 100px;
  padding-bottom: 100px;*/
  width: 100%;
  gap: 50px;
  border-bottom: solid 1px white;
  padding-bottom: 50px;
  /*gap: 50px;*/
}

.room-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  /*align-items: center;*/ 
  /*padding-left: 50px;
  padding-right: 50px;*/
  text-align: left;
}

/*rooms section ends*/


/*review section starts*/

.review-container {
    display: flex;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 5%;
  }
  
  .score-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .score-circle {
    background-color: white;
    border-radius: 128px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .score-value {
    font-size: 50px;
    color: orange;
  }
  
  .score-reviews {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }
  
  .carousel-section {
    margin-left: 20px;
    width: 100%;
  }
  
  .guest-say-title {
    color: white;
    font-style: italic;
  }
  
  .review-carousel-container {
    width: 600px;
    margin-top: 50px;
  }

  .review-title {
    color: orange;
  }
  
  .review-text {
    color: white;
    margin-top: 40px;
    font-size: 20px;
  }

  /*review section ends*/


  /*contact section starts*/

  .contacts-container {
    display: flex;
    width: 100%;
  }

  .contact-text-container {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact-text {
    padding-top: 50px;
    gap: 20px;
  }

  .map-container {
    flex: 1;
  }

  /*contact section ends*/

  @media (max-width: 1200px) {
    .welcome-container {
      padding-top: 70px;
      padding-bottom: 50px;
      flex-direction: column-reverse;
      gap: 50px;
    }

    .whole-jungletrek-container {
      padding-top: 50px;
      padding-bottom: 70px;
      gap: 50px;
    }

    .room-container {
      padding-top: 50px;
      padding-bottom: 70px;
    }

    .jungletrek-image-container {
      display: none;
    }

    .jungletrek-container {
      flex-direction: column;
      gap: 50px;
    }

    .room-card-container {
      display: none;
    }

    .room-carousel-container {
      display: block;
    }

    .room-image-container {
      display: none;
    }

    .text-image-container {
      border: none;
      padding-bottom: 0;
    }

    .welcome-text {
      padding-left: 0;
    }
  }


  @media (max-width: 1000px) {

    .junglecarousel-container {
      gap: 20px;
    }

    .review-carousel-container {
      width: 500px;
    }

    .welcome-img {
      display: none;
    }
  }

  @media (max-width: 800px) {
    .welcome-container {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .whole-jungletrek-container {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .room-container {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }

    .welcome-text {
      gap: 5px;
    }

    .jungletrek-text {
      gap: 5px;
    }

    .room-text {
      gap: 5px;
    }

    .review-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 50px;
      gap: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .score-section {
      gap: 10px;
    }

    .carousel-section {
      margin-left: 0;
    }

    .guest-say-title {
     margin-left: 20px;
    }

    .review-carousel-container {
        margin-top: 10px;
    }

    .review-text {
        margin-top: 10px;
    }

  }

  @media (max-width: 600px) {
    .review-carousel-container {
      width: 400px;
    }

    .review-title {
      font-size: 17px;
    }

    .review-text {
      font-size: 17px;
    }
  }
  @media (max-width: 470px) {
    .review-carousel-container {
      width: 270px;
    }

    .review-title {
      font-size: 15px;
    }
  
    .review-text {
      font-size: 15px;
    }
  }