.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

/*welcome section*/

.welcome-container {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  align-items: center; 
}

.welcome-button {
  margin-top: 50px;
}

/*welcome section ends*/


/*jungle trek section starts*/

.jungletrek-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;
  width: 100%;
  gap: 30px;
}

.jungletrek-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  align-items: center; 
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

/*jungle trek section ends*/


/*rooms section starts*/

.room-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

.room-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  align-items: center; 
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
  text-align: center;
}

/*rooms section ends*/

.review-section {
    display: flex;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 5%;
  }
  
  .score-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .score-circle {
    background-color: white;
    border-radius: 128px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .score-value {
    font-size: 50px;
    color: orange;
  }
  
  .score-reviews {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }
  
  .carousel-section {
    margin-left: 20px;
  }
  
  .guest-say-title {
    color: white;
    font-style: italic;
  }
  
  .carousel-container {
    width: 600px;
    margin-top: 50px;
  }

  .review-title {
    color: orange;
  }
  
  .review-text {
    color: white;
    margin-top: 40px;
    font-size: 20px;
  }

  .button-div {
    margin-left: 10px;
    margin-top: 10px;
  }

  .hotel-image {
    width: 45%;
    height: 45%;
    border-radius: 4px;
    margin-top: 10%;
  }


  @media (max-width: 1000px) {
    .carousel-container {
      width: 500px;
    }

    .welcome-img {
      display: none;
    }

    .welcome-button {
      margin-top: 30px;
    }
  }

  @media (max-width: 800px) {
    .welcome-text {
      gap: 5px;
    }

    .jungletrek-text {
      gap: 5px;
    }

    .review-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .guest-say-title {
     margin-left: 20px;
     margin-top: 30px;
    }

    .carousel-container {
        margin-top: 30px;
    }

    .review-text {
        margin-top: 10px;
    }

    .welcome-button {
      margin-top: 20px;
    }
  }

  @media (max-width: 600px) {
    .carousel-container {
      width: 400px;
    }

    .review-title {
      font-size: 17px;
    }

    .review-text {
      font-size: 17px;
    }

    .welcome-button {
      margin-top: 10px;
    }
  }
  @media (max-width: 470px) {
    .carousel-container {
      width: 270px;
    }

    .review-title {
      font-size: 15px;
    }
  
    .review-text {
      font-size: 15px;
    }

    .welcome-button {
      margin-top: 0;
    }
  }