body {
    margin: 0;
    padding: 0;
  }
  
  .transparentBg {
    background: transparent !important;
    border: none !important;
  }
  
  .transparentBg:hover {
    background: grey !important;
  }
  