body {
  margin: 0;
  padding: 0;
  /*font-family: 'JungleFever', sans-serif !important;*/
  font-family: 'Gowun Batang', serif;
}

.bg-color1 {
  /*background-color: #00695C;*/
  /*background-color: mintcream;*/
  background-color: white;
}

.bg-color2 {
  /*background-color: #05866e;*/
  background-color: whitesmoke; 
}

.text1 {
  font-family: 'Gowun Batang', serif;
  font-weight: 700;
  font-size: 18px;
  /*color: white;*/
  color: black;
}

.header1 {
  font-family: 'Gowun Batang', serif;
  font-weight: bold;
  /*color: white;*/
  color: black;
}

.fixed-logo {
  position: fixed; /* Pidä logo paikallaan */
  margin-left: 20px;       /* Aseta logo vasemmalle */
  top: 85%;       /* Keskitetään korkeussuunnassa */
  transform: translateY(-50%); /* Siirrä logoa ylös keskittääksesi sen */
  z-index: 1000; /* Varmista, että logo on muiden elementtien päällä */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-img {
  width: 50px;
  height: 50px
}

.logo-img:hover {
  width: 53px;
  height: 53px;
  cursor: pointer;
}

.footer-container {
  padding: 50px;
  width: 100%;
  background-color: #004b49;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 100px;
}

.contact-container {
  margin-left: 50px;
}


.tripadvisor-text {
  text-align: center;
  margin-bottom: 0px;
}

.tripadvisor-logo {
  width: 300px;
  height: 50px;
}

.tripadvisor-logo:hover {
  cursor: pointer;
}

.follow-us-container {
  display: flex;
  gap: 20px;
}

.logo-container {
  display: flex;
  gap: 5px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  border-radius: 32px;
  background-color: rgb(80, 80, 75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-icon {
  font-size: 30px;
  position: absolute;
  bottom: 10%;
}

.down-icon:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .footer-container {
    padding: 30px;
    gap: 50px;
  }
  .follow-us-header {
    display: none;
  }
  .text1 {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .fixed-logo {
    margin-left: 10px;
  }

  .logo-img {
    width: 40px; /* Pienennetään logon kokoa */
    height: 40px; /* Pienennetään logon kokoa */
  }

  .logo-img:hover {
    width: 43px; /* Muutetaan hover-tilan kokoa */
    height: 43px; /* Muutetaan hover-tilan kokoa */
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .text1 {
    font-size: 16px;
  }

}

@media (max-width: 500px) {
  .fixed-logo {
    margin-left: 10px;
  }

  .logo-img {
    width: 30px; /* Pienennetään logon kokoa */
    height: 30px; /* Pienennetään logon kokoa */
  }

  .logo-img:hover {
    width: 32px; /* Muutetaan hover-tilan kokoa */
    height: 32px; /* Muutetaan hover-tilan kokoa */
  }
  .tripadvisor-logo {
    width: 200px; /* uusi leveys */
    height: 33.33px; /* uusi korkeus */
  }

  .contact-container {
    font-size: 14px;
  }

  .text1 {
    font-size: 15px;
  }
}
 