body {
  margin: 0;
  padding: 0;
  background-color: aqua;
  min-height: 100vh;
}

.transparentBg {
  background: transparent !important;
  border: none !important;
}

.transparentBg:hover {
  background: grey !important;
}

